body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
}

span {
    margin: 0 10px;
}

.game {
    margin: 15px auto;
    display: flex;
    padding: 0 5%;
    justify-content: left;
}

.game-board {
    width: 50%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    border: 1px solid #000;
}

.chat-box {
    text-align: left;
    max-height: -webkit-fill-available;
    overflow-y: scroll;
}

.chat-box p {
    margin-left: 2%;
}


#chat-input {
    width: 70%;
}

#chat-form button {
    width: 25%;
    height: 30px;
    background-color: rgb(202, 186, 186);
}

.game button {
    width: 33%;
    height: 130px;
    padding: 0;
    background-color: #6d0f0f;
    border: 3px solid #FFF;
}

.hover-effect:hover {
    background-color: #e70e0e;
    cursor: pointer;
}

.game button.clicked {
    background-color: #e70e0e;
}

.game-board button.green {
    background-color: green;
}

button img {
    height: inherit;
    width: 100%;
}

#current {
    color: #2CC135;
}

#restart-btn {
    margin: 0 auto;
    height: 40px;
    width: 140px;
    background-color: #155a07;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: inherit;
    border: 2px solid #FFF;
}

#restart-btn:hover {
    background-color: #21d121;
}

@media (max-width:600px) {
    .game-board {
        width: 80%;
        margin: auto 10%;
    }

    .chat {
        width: 80%;
        height: 150px;
        margin: 5% 10%;
    }

    .game {
        flex-wrap: wrap;
    }

}