.container {
    margin: 0 auto;
    text-align: center;
}

.game {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.game-board {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player {
    width: 25%;
}

.game button {
    width: 33%;
    height: 130px;
    padding: 0;
}

button:hover {
    border: 2px solid #2B98F4;
    cursor: pointer;
}

li {
    text-align: left;
}

button img {
    height: inherit;
    width: 100%;
}