body {
    background-color: #003366;
    text-shadow: 2px 2px #000;
    color: white;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.game {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.game-board {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player {
    width: 25%;
}

.game button {
    width: 33%;
    height: 130px;
    padding: 0;
    background-color: inherit;
    border: 3px solid #FFF;
}

.hover-effect:hover {
    background-color: #0073e6;
    cursor: pointer;
}

.clicked {
    background-color: #0073e6 !important;
}

li {
    text-align: left;
}

button img {
    height: inherit;
    width: 100%;
}

#current {
    color: #2CC135;
}

#restart-btn {
    margin: 10px auto;
    height: 40px;
    width: 140px;
    cursor: pointer;
}